* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #333;
    background-image: url("./Img/esthetic-3.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    overflow-x: hidden;
}

header {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(1rem);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: line-through;
    color: #ddd;
}

.list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: #ddd;
    transition: color .2s ease-in-out;
    position: relative;
}

.list li a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.5rem;
    width: 0%;
    height: .1rem;
    background-color: #ddd;
    transition: width .3s ease-in-out;
}

.list li a:hover {
    color: #fff;
}

.list li a:hover::before {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    text-align: center;
    color: #ddd;
    background-color: transparent;
    border: 2px solid #ddd;
    cursor: pointer;
    scale: 1;
    transition: scale .1s ease-in-out;
}

.btn:active {
    scale: 0.96;
}

section {
    padding: 4rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-tag {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(1rem);
    font-size: .9rem;
    padding: .2rem 1rem;
    border-radius: 2rem;
    color: #ddd;
    text-align: center;
}

.title {
    color: #ddd;
    font-size: 3rem;
    font-weight: 600;
    margin-block: .5rem;
}

.description {
    color: #ddd;
    margin-bottom: 2rem;
}

.description span {
    display: block;
}

.action-btns {
    display: flex;
    align-items: center;
    gap: 1rem .8rem;
}

.btn-bg-dark {
    background-color: #000;
    border: none;
    color: #ddd;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    padding-inline: 1.5rem;
}

.btn-bg-light {
    background-color: #ddd;
    border: none;
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    padding-inline: 1.5rem;
}

.right {
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1.8rem;
    width: 20rem;
}

.login h2 {
    font-size: 1.8rem;
    color: #ddd;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: .8rem;
}

.form-input {
    position: relative;
    width: 100%;
}

.form-input input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ddd;
    border-radius: .25rem;
    width: 100%;
    padding-inline: .5rem;
    padding-block: .7rem;
    color: #ddd;
}

.form-input input:is(:focus, :active) {
    outline: none;
}

.form-input i {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    color: #ddd;
}

.form-input input::placeholder {
    color: #ddd;
    text-transform: capitalize;
    font-size: 1rem;
}

.right button {
    width: 100%
}

.more-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-actions a {
    font-size: 1rem;
    color: #ddd;
    text-decoration: none;
}

.more-actions a:hover {
    text-decoration: underline;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: .5rem;
}

.social-icons i {
    font-size: 1.3rem;
    color: #ddd;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.social-icons i:hover {
    color: #fff;
}

@media (max-width: 900px) {
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        text-align: center;
    }

    .action-btns {
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
    }
}

@media (max-width: 669px) {
    .list {
        display: none;
    }
}